# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
venv*/
.env

# VSCode
.vscode/

# SQLite DB
*.db

# PDF e arquivos temporários
static/orcamento_*.pdf

# Imagens temporárias
*.jpg
*.jpeg
*.png
*.gif

# Outros
.DS_Store
Thumbs.db
